*.o
*.a
*.la
*.lo
*.out

Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
missing
libtool
stamp-h1
.deps
.dirstamp
install-sh
ltmain.sh
m4/

*.patch

.vscode

src/thingd
